body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 10px;
    background-color:  #35424a;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    transition: text-shadow 0.3s ease;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    width: 200px;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Ajuste a largura conforme necessário */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #35424a;
    color: white;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #28a745;
    color: white;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}