body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao cabeçalho */
}

header h1 {
    margin: 0; /* Remove margens padrão */
    font-size: 24px; /* Ajusta o tamanho da fonte */
    font-weight: 700; /* Define peso da fonte */
}

@media (max-width: 400px) {
    header h1 {
        font-size: 20px; /* Reduz o tamanho da fonte em telas menores */
    }
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    color: #35424a;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    transition: text-shadow 0.3s ease;
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}